body{
    background: linear-gradient( to right, lightblue, rgb(175, 175, 243));
}

.containor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

table, th, td{
    border: 1px solid black ;
}

#oversikt{
    font-size: 1.8em;
    font-style: oblique;
}

button{
    background-color: transparent;
    font-size: 1.5em;
    border: none;
    border-radius: 100%;
    padding: 20px;
    padding-left: 30px;
    width: 90px;
}

#removebutton{
    background-color: transparent;
    font-size: 1.9em;
    border: none;
    border-radius: 100%;
}

#removebutton:hover{
    background-color: rgb(255, 58, 58);
}

#fagnavn{
    font-size: 1.5em;
    padding-left: 20px;
    padding-right: 20px;   
    width: 400px;
    text-align: left ;
    font-style: italic;
}



button:hover{
    background-color: aqua;
}

#regnbutton{
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    font-size: 1.2em;
    margin-top: 1%;
    padding: %;
}

#regnbutton:hover{
    background-color: green;
}

#result{
    font-size: 1.5em;
}

.active {
    background-color: aqua;
}

#refreshbutton{
    background-color: darkgrey;
    border: 1px solid black;
    border-radius: 5px;
    width: 150px;
    font-size: 1.2em;
    margin-top: 1%;
    margin-right: 950px;
    
}

#refreshbutton:hover{
    color: aliceblue;
}